* { margin: 0; padding: 0;}

.header{
    padding-top: 51px;
    
}

.menu_header{
    margin-bottom: 96px;
}

.title{
    margin-bottom: 17px;
}

.top_button{
    margin-top: 37px;
}

.top_logo{
    margin-top: 259px;
}