* { margin: 0; padding: 0;}

.header{
    padding-top: 39px;
    padding-bottom: 39px;
}

.paragrVerh{
    margin-bottom: 10px;
}

.title{
    margin-bottom: 40px;
}

.paragrCentr{
    margin-bottom: 50px;
}

.top_button{
    margin-bottom: 192px;
}

.top_logo{
    margin-top: 197px;
    margin-bottom: 99px;
}

