* {
    margin: 0;
    padding: 0;
}

body {

    color: white;
}

a {
    text-decoration: none;
    color: rgb(252, 253, 254);
}
a:hover{
    color: #F16D7F;
}

li::marker{
    color: #F16D7F;
}


.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.header {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    height: 40px;
    font-family: sans-serif;
    flex-wrap: wrap;
    background-color: #3c5786;
}

.header_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header_img {
    width: 40px;
    height: 40px;

    transition: transform 1s;
}
.header_img:hover {
    transform: scale(1.5);
    transition-duration: 2s;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content_left {
    background-color: #3f4c7a;
    width: 320px;
    height: 1000px;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
}

.content_right {  
    /*background-color: rgb(50, 49, 92);  */
    width: 560px;
    height: 1000px;
    padding-left: 20px;
}

.content_contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding-top: 30px;
    padding-left: 20px;
}


.content_left_foto {
    width: 250px;
    height: 280px;
}

.adress {
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;
}

.adress_logo {
    color: #c63d3d;
    width: 17px;
    height: 17px;
}

.adres_text {
    color: var(--1, #e7e9ea);

    /* Текст/12px, Regular */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 18px */

}

.phone {
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;
}

.phone_logo {
    color: #c63d3d;
    width: 17px;
    height: 17px;
}

.phone_text {
    color: var(--1, #e7e9ea);

    /* Текст/12px, Regular */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 18px */
}

.email {
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;
}

.email_logo {
    color: #c63d3d;
    width: 17px;
    height: 17px;
}

.email_text {
    color: var(--1, #e7e9ea);

    /* Текст/12px, Regular */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 18px */
}

.content_about_me{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content_about_me{
    padding-top: 80px;
}
.hobbi_en{
    width: 240px;
}


.fio{
    color: var(--1, #070d10);

    /* Текст/12px, Regular */
    font-family: Montserrat;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
}

.content_education{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    padding-top: 45px;
}


.education_title{
    color: var(--1, #070d10);

    /* Текст/12px, Regular */
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.education_block1{
    color: var(--1, #070d10);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    gap: 30px;

    padding-top: 20px;
}

.education_block2{
    color: var(--1, #070d10);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    gap: 30px;

    padding-top: 20px;
}

.data{
    width: 230px;
}
.name{
    width: 270px;
}

.data_title{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    color: var(--1, #070d10);
}
.data_date{
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: 150%;
    color: darkgray;
}

.content_experience{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    padding-top: 45px;
}


.experience_title{
    color: var(--1, #070d10);

    /* Текст/12px, Regular */
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.experience_block1{
    color: var(--1, #070d10);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
   
    gap: 30px;

    padding-top: 20px;
}

.content_skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    padding-top: 45px;
}


.skills_title{
    color: var(--1, #070d10);

    /* Текст/12px, Regular */
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 162px;
    padding-left: 20px;
    justify-content: flex-start;
}

.skills_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    color: var(--1, #070d10);

    padding-top: 20px;
}


.portfol_content{
    background-color: #3f4c7a;
    /* color: #070d10; */
    display: grid;
    grid-template-columns: repeat(2, 250px);
    /* padding: 100px; */
    /* gap: 25px; */
    height: 700px;
    padding-top: 30px;
    justify-items: center;
    justify-content: center;

}

.portfol_block{
    width: 200px;
    height: 100px;
    background-color: forestgreen;
    border: 1px solid #000;
    transition: transform 1s;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    
}

@media(max-width:900px){
.content_right{
    width: 450px;
}
.data{
    width: 130px;
}
}

@media(max-width:790px){
    .content_left{
        width: 260px;
    }
    .content_right{
        width: 350px;
    }

    .hobbi_en{
        width: 190px;
    }
    .fio{
        font-size: 50px;
    }
    .name{
        width: 185px;
        
    }
    .skills{
        gap: 60px;
    }
}

@media(max-width:630px){
    .header{
        gap: 10px;
    }
    .content_left{
        width: auto;;
    }
}
@media(max-width:425px){
    .header{
        height: 87px;
        display: grid;
        justify-items: center;
    }
}