* {
    margin: 0;
    padding: 0;
}

body {

    color: white;
}

a {
    text-decoration: none;
    color: rgb(252, 253, 254);
}

a:hover {
    color: #F16D7F;
}

li::marker {
    color: #F16D7F;
}


.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.header {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    height: 40px;
    font-family: sans-serif;
    flex-wrap: wrap;
    background-color: #3c5786;
}

.header_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header_img {
    width: 40px;
    height: 40px;

    transition: transform 1s;
}

.header_img:hover {
    transform: scale(1.5);
    transition-duration: 2s;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content_left {
    background-color: #3f4c7a;
    width: 320px;
    height: 1000px;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
}

.content_right {
    width: 560px;
    height: 1000px;
    padding-left: 20px;
}

.content_contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding-top: 30px;
    padding-left: 20px;
}


.content_left_foto {
    width: 250px;
    height: 280px;
}

.adress {
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;
}

.adress_logo {
    color: #c63d3d;
    width: 17px;
    height: 17px;
}

.adres_text {
    color: var(--1, #e7e9ea);

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

}

.phone {
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;
}

.phone_logo {
    color: #c63d3d;
    width: 17px;
    height: 17px;
}

.phone_text {
    color: var(--1, #e7e9ea);

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.email {
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;
}

.email_logo {
    color: #c63d3d;
    width: 17px;
    height: 17px;
}

.email_text {
    color: var(--1, #e7e9ea);

    /* Текст/12px, Regular */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.content_about_me {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content_about_me {
    padding-top: 80px;
}

.hobbi_en {
    width: 240px;
}


.fio {
    color: var(--1, #070d10);

    /* Текст/12px, Regular */
    font-family: Montserrat;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
}

.content_education {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    padding-top: 45px;
}


.education_title {
    color: var(--1, #070d10);

    /* Текст/12px, Regular */
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.education_block1 {
    color: var(--1, #070d10);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    gap: 30px;

    padding-top: 20px;
}

.education_block2 {
    color: var(--1, #070d10);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    gap: 30px;

    padding-top: 20px;
}

.data {
    width: 230px;
}

.name {
    width: 270px;
}

.data_title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    color: var(--1, #070d10);
}

.data_date {
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: 150%;
    color: darkgray;
}

.content_experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    padding-top: 45px;
}


.experience_title {
    color: var(--1, #070d10);

    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.experience_block1 {
    color: var(--1, #070d10);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    gap: 30px;

    padding-top: 20px;
}

.content_skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    padding-top: 45px;
}

.skills_title {
    color: var(--1, #070d10);

    /* Текст/12px, Regular */
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 162px;
    padding-left: 20px;
    justify-content: flex-start;
}

.skills_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    color: var(--1, #070d10);

    padding-top: 20px;
}

/*--------------------Portfolio-------------------------------*/
.portfol_content {
    /*background-color: #3f4c7a;*/
    /* color: #070d10; */
    display: grid;
    grid-template-columns: repeat(2, 250px);
    /* padding: 100px; */
    /* gap: 25px; */
    height: 700px;
    padding-top: 50px;
    justify-items: center;
    justify-content: center;

}

.portfol_block {
    width: 200px;
    height: 100px;
    background-color: #3f4c7a;
    border: 7px solid #F16D7F;
    transition: transform 1s;

    border-radius: 20px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}

/*--------------------UiERD(пример Ui/ERD)----------------------*/
.di {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
}

.di_title {
    color: var(--1, #070d10);

    /* Текст/12px, Regular */
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;

}

.diagramm_block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;

    padding-top: 40px;
}

.diagramm_title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.diagramm_text {
    color: var(--1, #070d10);

    /* Текст/12px, Regular */
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.diagramm_img {
    width: 600px;

    padding-top: 30px;
}

/*------------------------------Factory(фабричный метод)----------------------*/
.factory_content {
    display: flex;
    justify-content: center;
}

.factory_block_img {
    width: 30px;
}

.factory_block_folder {
    width: 300px;
    height: 50px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;

    border-radius: 20px 0px 0px 20px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.factory_block {
    width: 300px;
    height: 50px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;

    border-radius: 20px 0px 0px 20px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.factory_block_big {
    width: 600px;
    height: 700px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;

    border-radius: 0px 20px 20px 20px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.factory_bl_title {
    color: #F16D7F;
}

.factoryClasses_block1_big {
    width: 600px;
    height: 200px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;

    border-radius: 0px 20px 20px 0px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    padding-left: 20px;
}

.factoryClasses_block2_big {
    width: 600px;
    height: 200px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;

    border-radius: 0px 20px 20px 0px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    padding-left: 20px;
}

.factory_block_otstup {
    width: 300px;
    height: 50px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;

    border-radius: 20px 0px 0px 20px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin: 98px 0px;
}

.factory_block_strelka {
    width: 100px;
    height: 50px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;

    border-radius: 20px 0px 0px 20px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}

.factory_block_block_strelka {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.factory_blockRev_block_strelka {
    padding-top: 47px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.factoryGener_block_big {
    width: 600px;
    height: 250px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;

    border-radius: 0px 20px 20px 0px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    padding-left: 20px;
}

.factoryGener_bl {
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.factoryGener_block_otstup {
    width: 300px;
    height: 50px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.factoryGener_block_big_strelka {
    width: 600px;
    height: 302px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.strelka {
    fill: #fff;
    width: 40px;

}
/*--------------------------------MovingFigures(ghbvth Swing)-----------------------------*/
.movingFig_img{
    width: 300px;
    border-radius: 7px;
}

.movingFig_block_img{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.movingFig_block1_big{
    width: 600px;
    height: 200px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;
    border-radius: 0px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}
.movingFig_block{
    display: flex;
    flex-direction: column;
    gap: 877px;
}
.movingFig_block_strelka{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    padding-top: 1138px;
}

.movingFigBricks_block1_big{
    width: 600px;
    height: 927px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.movingFigBricks_block2_big{
    width: 600px;
    height: 1240px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.movingFig_block_otstup {
    width: 300px;
    height: 50px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.movingFigCurcle_block1_big{
    width: 600px;
    height: 477px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.movingFigCurcl_block{
    display: flex;
    flex-direction: column;
    gap: 427px;
}

.movingFigCurcle_block2_big{
    width: 600px;
    height: 1034px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}
.movingCurcle_block_block{
    padding-top: 984px;
}

.movingFigCurcle_block3_big {
    width: 600px;
    height: 1337px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}
.movingFigCurcle_block_strelka {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-top: 1235px;
}

.movingCommon_block_block {
    padding-top: 249px;
}

.movingCommon_block2_block {
    padding-top: 790px;
}

.movingFigCommon_block_otstup {
    width: 300px;
    height: 50px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.movingFigCommon_block1_big {
    width: 600px;
    height: 148px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.movingFigCommon_block {
    display: flex;
    flex-direction: column;
    gap: 99px;
}

.movingFigCommon_block_strelka {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-top: 569px;
}

.movingFigCommon_block2_big {
    width: 600px;
    height: 300px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.movingFigCommon_block3_big {
    width: 600px;
    height: 840px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.movingFigCommon_block4_big {
    width: 600px;
    height: 670px;
    background-color: #3f4c7a;
    border: 1px solid #F16D7F;
    transition: transform 1s;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}



@media(max-width:940px) {
    .content_right {
        width: 450px;
    }

    .data {
        width: 130px;
    }

    .factoryGener_block_big {
        width: 380px;
    }

    .factoryGener_block_otstup {
        width: 190px;
    }

    .factoryGener_block_big_strelka {
        width: 380px;
    }

    .factory_block_folder {
        width: 130px;
    }

    .factory_block {
        width: 130px;
    }

    .factory_block_otstup {
        width: 130px;
    }

    .factoryClasses_block1_big {
        width: 320px;
    }

    .factoryClasses_block_otstup {
        width: 190px;
    }

    .factoryClasses_block2_big {
        width: 320px;
    }

    .movingFigBricks_block1_big{
        width: 537px;
    }
    .movingFigBricks_block2_big{
        width: 537px;
    }
    .movingFigCurcle_block1_big{
        width: 477px;
    }
    .movingFigCurcle_block2_big{
        width: 477px;
    }
    .movingFigCurcle_block3_big{
        width: 477px;
    }

    .movingFig_block_otstup {
        width: 180px;
    }
    
    .movingFigCommon_block_otstup{
        width: 152px;
    }
    .movingFigCommon_block1_big{
        width: 490px;
    }
    .movingFigCommon_block2_big{
        width: 490px;
    }
    .movingFigCommon_block3_big{
        width: 490px;
    }
    .movingFigCommon_block4_big{
        width: 490px;
    }
}

@media(max-width:790px) {
    .content_left {
        width: 260px;
    }

    .content_right {
        width: 350px;
    }

    .hobbi_en {
        width: 190px;
    }

    .fio {
        font-size: 50px;
    }

    .name {
        width: 185px;

    }

    .skills {
        gap: 60px;
    }

    .factoryGener_block_otstup {
        width: 115px;
    }
    .movingFig_block_strelka{
        padding-top: 1138px;
    }
    .movingFig_block1_big{
        width: 370px;
    }

    .movingFigBricks_block1_big {
        width: 435px;
    }
    .movingFigBricks_block2_big {
        width: 435px;        
    }

    
}

@media(max-width:690px) {
    .header {
        gap: 10px;
    }

    .content_left {
        width: auto;
        ;
    }

    .portfol_content {
        grid-template-columns: repeat(1, 250px);
    }

    .diagramm_img {
        width: 530px;
    }

    .factory_block_img {
        width: 20px;
    }

    .factory_block_big {
        font-family: Montserrat;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

        width: 387px;
    }

    .factory_bl_title_fold {
        font-family: Montserrat;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    .factory_bl_title {
        font-family: Montserrat;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    .factory_block_folder {
        width: 100px;
    }

    .factory_block {
        width: 100px;
    }

    .factory_block_otstup {
        width: 100px;
    }

    .movingFig_block_img {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }

    .factoryClasses_block1_big {
        font-family: Montserrat;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

        width: 240px;
    }

    .factoryClasses_block2_big {
        font-family: Montserrat;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

        width: 240px;
    }

    .factoryGener_block_otstup {
        width: 100px;
    }

    .preGener {
        font-family: Montserrat;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    .factoryGener_block_big {
        width: 230px;
    }

    .factoryGener_block_big_strelka {
        width: 230px;
    }

    .movingFig_block1_big{
        width: 200px;
    }
    .movingFigCurcle_block1_big{
        width: 310px;
    }
    .movingFigCurcle_block2_big{
        width: 310px;
    }
    .movingFigCurcle_block3_big{
        width: 310px;
    }

    .movingFig_block_otstup {
        width: 100px;
    }

    .movingFigCommon_block_otstup {
        width: 80px;
    }
    .factory_block_strelka{
        width: 80px;
    }

    .movingFigCommon_block1_big{
        width: 285px;
    }
    .movingFigCommon_block2_big{
        width: 285px;
    }
    .movingFigCommon_block3_big{
        width: 285px;
    }
    .movingFigCommon_block4_big{
        width: 285px;
    }
}

@media(max-width:570px) {
    .header {
        height: 87px;
        display: grid;
        justify-items: center;
    }

    .diagramm_img {
        width: 375px;
    }

    .di_title {
        padding-left: 30px;
    }

    .factory_block {
        width: 100px;
    }

    .factory_block_big {
        font-family: Montserrat;
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

        width: 387px;
        height: 500px;
    }
    .movingFig_block_otstup{
        width: 63px;
    }
    .movingFig_block_strelka{
        width: 64px;
    }

    .movingFigBricks_block1_big {
        width: 310px;
        padding-left: 1px;
    }
    .movingFigBricks_block2_big {
        width: 310px;
        padding-left: 1px;
    }
    .factory_block_strelka {
        width: 63px;
    }  
    
    .movingFigCurcle_block1_big{
        width: 277px;
    }
    .movingFigCurcle_block2_big{
        width: 277px;
    }
    .movingFigCurcle_block3_big{
        width: 277px;
    }
}

@media(max-width:400px) {
    .factory_block {
        width: 70px;
    }

    .factory_block_folder {
        width: 70px;
    }

    .factory_block_otstup {
        width: 70px;
    }

    .factory_block_strelka {
        width: 55px;
    }

    .factoryClasses_block1_big {
        font-family: Montserrat;
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        width: 190px;
    }

    .factoryClasses_block2_big {
        font-family: Montserrat;
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        width: 190px;
    }

    .factoryGener_block_big {
        font-family: Montserrat;
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

        padding-left: 1px;
    }

    .factoryGener_block_big_strelka {
        font-family: Montserrat;
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

        padding-left: 1px;
    }
    .factoryGener_block_otstup {
        width: 90px;
    }

    .movingFigCommon_block1_big{
        width: 270px;
        padding-left: 1px;
    }
    .movingFigCommon_block2_big{
        width: 270px;
        padding-left: 1px;
    }
    .movingFigCommon_block3_big{
        width: 270px;
        padding-left: 1px;
    }
    .movingFigCommon_block4_big{
        width: 270px;
        padding-left: 1px;
    }
}